@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');

.App {
  width: 100%;
  margin: auto;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.App-no-web3 {
  width: 60%;
  margin: auto;
  text-align: left;
  margin-top: 40px;
}

.App-simplestorage-example {
  width: 80%;
  margin: auto;
}

/* ------------------------------------------------------------ */
/* -------------------- AUCTION HEADER STYLE ------------------ */
/* ------------------------------------------------------------ */

.User-header {
  background-color: white;
  border-bottom: 0.5px solid grey;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header-context-information {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Header-context-information p {
  flex: auto;
  margin: 5px;
  font-size: medium
}

.Header-switch-network {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.Header-switch-network p {
  font-size: medium
}

.Header-switch-network button {
  width: 160px;
  height: 32px;
  background: transparent;
}

.Header-switch-network button:hover {
  width: 160px;
  height: 32px;
  background: beige;
  color: black;
  box-shadow: 0px 8px 15px #EDEDED;
}

/* ------------------------------------------------------------ */
/* -------------------- AUCTION BODY STYLE ------------------ */
/* ------------------------------------------------------------ */

.User-body {
  display: grid;
  place-items: center;
  background-color: #EDEDED;
  padding-bottom: 100px;
}

.User-logged {
  display: flex;
  flex-flow: wrap;
  place-items: flex-start;
  /* display: grid;
  place-items: center;
  grid-auto-flow: column; */
}
.User-common-actions {
  display: flex;
  flex-flow: wrap;
  place-items: flex-start;
}
.User-custom-actions {
  display: flex;
  flex-flow: wrap;
  place-items: flex-start;
}
.User-logged {
  display: flex;
  flex-flow: wrap;
  place-items: flex-start;
  /* display: grid;
  place-items: center;
  grid-auto-flow: column; */
}

.User-body-components {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

.User-information {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}

.User-information-img {
  flex: 1;
  align-self: center;
}

.User-information-img img {
  width: 120px;
  border-radius: 25px;
}

.User-information-text {
  flex: 2;
  margin-left: 10px;
  font-size: 15px;
}

.User-information-text b {
  color: darkslategrey;
}

/* ------------------------------------------------------------ */
/* ----------------------- OTHER STYLE ------------------------ */
/* ------------------------------------------------------------ */

button {
  padding: 8px;
  width: 20%;
  min-width: 200px;
  max-width: 250px;
  cursor: pointer;
  border-radius: 5px;
}

#button-call {
  background-color: #365f7c;
  color: white;
}

#button-call:hover {
  color: #fff;
  background-color: #2a4b62;
  border-color: #264459;
}

#button-call:focus {
  box-shadow: 0 0 0 0.2rem rgb(83 119 145 / 50%);
}

#button-send {
  background-color: #b84040;
  color: white;
  min-width: 120px;
  max-width: 150px;
  margin-left: 2px;
}

#button-send:hover {
  color: #fff;
  background-color: #9c3636;
  border-color: #923333;
}

#button-send:focus,
#button-send:active {
  box-shadow: 0 0 0 0.2rem rgb(195 93 93 / 50%);
}

.Register-user {
  /* width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center; */

}

.Register-user form {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}

/* INPUT */
.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group>.label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group>.label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
  width: 50%;
}

.card {
  padding: 40px;
  margin: 20px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

/* INPUT */

/* .input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
} */

#inline {
  display: inline;
  margin-right: 30px;
}
